<html>
    <body>
        <h1>Your Order Details</h1>
        <h3>Shipped To</h3>
        {{ details.shipping_street }}
        <br />
        {{ details.shipping_city }}, {{ details.shipping_state }} {{ details.shipping_zip }}
        <br />
        <br />

        <h3>Billed To</h3>
        {{ details.billing_street }}
        <br />
        {{ details.billing_city }}, {{ details.billing_state }} {{ details.billing_zip }}
        <br />
        <br />

        <hr />
        <br />

        <h1>Your Purchased Products</h1>

        <!-- Set this outside the for loop so it is available to show outside the for loop -->
        {% set totalPrice = 0 %}

        <table>

            {% for item in products %}
                {% set rowPrice = item.price * item.quantity %}
                <tr >
                    <td>
                        <div style="width:120px;height:120px;display:table-cell;text-align:center;vertical-align:middle;">
                            <img style="max-height:100px;max-width:120px;" src="{{ item.image }}" />
                        </div>
                    </td>
                    <td style="width:400px;font-weight:bold;font-size:16px;">{{ item.name }}</td>
                    <td style="height:60px;width:10px;"></td>
                    <td>${{ item.price|number_format(2, '.', ',') }}</td>
                    <td style="height:60px;width:10px;"></td>
                    <td><i> x{{ item.quantity }}</i></td>
                    <td style="height:60px;width:10px;"></td>
                    <td style="height:60px;width:10px;"></td>
                    <td><b>${{ rowPrice|number_format(2, '.', ',') }}</b></td>
                </tr>
                {% set totalPrice = totalPrice + (item.quantity * item.price) %}
            {% endfor %}
            {% if totalPrice > 0 %}
                <tr>
                    <td></td>
                    <td style="width:400px;font-weight:bold;font-size:24px;">Total</td>
                    <td style="height:60px;width:10px;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="font-weight:bold;font-size:24px;">${{ totalPrice|number_format(2, '.', ',') }}</td>
                </tr>
            {% endif %}
        </table>
    </body>
</html>
